<div id="googleMap" style="width:100%x;height:400px;"></div>
<section id="googleMapScript2" ng-controller="deptWidURL">
<script type="text/javascript">
	// Mao ning  para ma focus ang map sa CDO				
	$("#googleMap").ready(function(){
		var contentString = "";
		 $('#googleMapScript2').on('deptID_URL', function(event, data) {
		 	
			$.get( data.url + 'maps/get_all_markers/' + data.dept_id , function( response ) {
				console.log(response)
				if (response != '[]' || response != '' ) {
				    for (a = 0; a < response.length; a++) {  
				    	if (response[a]['status'] == "focus") {
						    var map = new google.maps.Map(document.getElementById('googleMap'), {
						      zoom: 15,
						      center: new google.maps.LatLng(response[a]['lat'], response[a]['lng']),
						      mapTypeId: google.maps.MapTypeId.ROADMAP
						    });				    		
				    	}
				  	}
				    var infowindow = new google.maps.InfoWindow();

				    var marker, i;

				    for (i = 0; i < response.length; i++) {  
					    if (response[i]['status'] == 'focus') {
							marker = new google.maps.Marker({
								position: new google.maps.LatLng(response[i]['lat'], response[i]['lng']),
								map: map,
								animation: google.maps.Animation.BOUNCE
							});
					    }
					    //else{
							// marker = new google.maps.Marker({
							// 	position: new google.maps.LatLng(response[i]['lat'], response[i]['lng']),
							// 	map: map
							// });
					  //   }
					    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
					        return function() {
								contentString = '<div id="infowindow" style="max-width: 400px;">'+
														'<label style="color: #367FA9">'+response[i]['branch_name']+'</label><br>' +
														'<span>'+response[i]['address']+'<span><br><br>' +
														'<a href="http://'+response[i]['website']+'" target="__blank"><span>'+response[i]['website']+'<span></a><br>' +
														'<span>Tel.# :'+response[i]['hotline_no']+' | Mobile # :'+response[i]['mobile_no']+'<span><br>' +
													'</div>';			        	
					        	infowindow.setContent(contentString);
					        	infowindow.open(map, marker);
					        }
					      })(marker, i));
						google.maps.event.addListener(marker, 'mouseout', function( event ){
							infowindow.close();
						});			      
				    }					
				}else{
					alert('Map not yet set')
				}

			}, "json" );	
		 });
	});
	
</script>
</section>	
<section ng-controller="saveLocation">
	<div>
		<h3 ng-bind="department_info.dept_name"></h3>
	</div>
	<br>
	<div>
		<label>Description</label>
		<p ng-bind="department_info.dept_desc"></p>
	</div><br>
	<div>
		<label>Contact Information</label>
		<p>
			Hotline No. ( <span ng-bind="department_info.hotline_no" class="text-info"></span> )  <br>
			Mobile No.  &nbsp;( <span ng-bind="department_info.mobile_no" class="text-info"></span> ) 
		</p>
	</div>
	<div>
		<label>Address</label>
		<p ng-bind="department_info.address"></p>
	</div>
	<div>
		<label>Email</label>
		<p ng-bind="department_info.email"></p>
	</div>
	<div>
		<label>Website</label>
		<p ng-bind="department_info.website"></p>
	</div><br>
</section>		